[Unit]
Description=Backs up to the cloud daily
Requires=backup_cloud.service

[Timer]
OnCalendar=*-*-* 3:00:00
Persistent=true

[Install]
WantedBy=timers.target