[Unit]
Description=Runs hdsentinel at a specific time, usually a minute before the mount check

[Timer]
OnCalendar=*-*-* __CHECK_HDSENTINEL_HEALTH_TIME__
Persistent=true

[Install]
WantedBy=timers.target