[Unit]
Description=Runs check_mount at a specific time, usually 10 minutes before the backup

[Timer]
OnCalendar=*-*-* __CHECK_MOUNT_TIME__
Persistent=true

[Install]
WantedBy=timers.target